gitversion.*
Debug/
Debug-Face1/
Debug-Face2/
Debug-Face3/
Debug-Face4/
Debug-Face5/
Debug-Face6/
Release/
Release-Face1/
Release-Face2/
Release-Face3/
Release-Face4/
Release-Face5/
Release-Face6/
*.atsuo