gitversion.*
Debug/
Debug_Face-1/
Debug_Face-2/
Debug_Face-3/
Debug_Face-4/
Debug_Face-5/
Debug_Face-6/
Release/
Release_Face-1/
Release_Face-2/
Release_Face-3/
Release_Face-4/
Release_Face-5/
Release_Face-6/
*.atsuo